#root {
  width: 100%;
  max-width: 1200px;
  min-width: 1150px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  height: 100%;
}

.products-container {
  width: 75%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 20%;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
}

.product-card span {
  margin: 10px;
}

.quantity-counter span {
  margin: 10px;
}

img {
  height: 50px;
  border-radius: 5px;
}

.cart-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px wheat solid;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  background-color: rgb(43, 48, 54);
}

.info-cart {
  flex-direction: column;
}

.prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.prices button {
  color: white;
  background-color: red;
}

.cart-actions1 button {
  color: white;
  background-color: red;
  margin-right: 10px;
}
.cart-actions2 button {
  color: white;
  background-color: green;
}

.endclass {
  display: flex;
  margin: 10px;
}

.groceries {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
